.header {
    display: flex;
    width: 100%;
    justify-content: space-between;

}

.logo {
    display: flex;
    width: 33%;
    align-items: flex-start;
    justify-content: center;
    margin-top: 5%;

}

.logo img {
    display: block;

}

.vectorLeft {
    width: 33%;
    height: 50vh;
    background-image: url(../../assets/vector-left.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.vectorRight {
    width: 33%;
    height: 50vh;
    background-image: url(../../assets/vector-right.png);
    background-position: top right;
    background-repeat: no-repeat;

}