.mainWin {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;

}

.strongP {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 104%;
    color: #162C4E;
    opacity: 0.39;
    margin-bottom: 0;
}

.descrP {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: rgba(0, 0, 0, 0.8)
}

.timer {
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 72px;
    line-height: 100%;
    color: #162C4E;
}

.timer p {
    margin: 0;
}

.dateContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bgDate {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    background-image: url(../../assets/bgForTimer.png);
    height: 10vh;
    width: 6vw;
    background-repeat: no-repeat;
    background-size: contain;
}

.bgDate p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 100%;
    color: #FFFFFF;
    margin-top: 14%;

}

.evBtnCont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.8);
}

.evBtnCont a {
    display: flex;
    width: 60%;
    height: 6vh;
    background-color: #1D4169;
    color: #FFFFFF;
    border-radius: 30px;
    align-items: center;
    padding-left: 8%;
    background-image: url(../../assets/arrow.svg);
    background-repeat: no-repeat;
    background-position: 90% 50%;
    text-decoration: none;
}

.evBtnCont a:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: 0.3s;
}

.evBtnCont a:active {
    opacity: 1.5;
    transition: 0.3s;
    transform: scale(0.7);
}

@media screen and (max-width: 1024px) {
    .strongP {
        font-size: 45px;
    }

    .descrP {
        font-size: 16px;
    }

    .timer {

        font-size: 45px;
    }

    .bgDate p {
        font-size: 10px;
    }

    .evBtnCont {
        font-size: 16px;
    }

    .evBtnCont a {
        width: 60%;
        height: 6vh;
    }
}

@media screen and (max-width: 768px) {
    .strongP {
        font-size: 36px;
    }

    .descrP {
        font-size: 16px;
    }

    .timer {

        font-size: 36px;
    }

    .bgDate p {
        font-size: 10px;
    }

    .bgDate {
        width: 9vw;
    }

    .evBtnCont {
        font-size: 16px;
    }

    .evBtnCont a {
        width: 60%;
        height: 6vh;
    }
}

@media screen and (max-width: 425px) {
    .strongP {
        font-size: 36px;
        width: 70%;
        text-align: center;
    }


    .bgDate p {
        font-size: 10px;
    }

    .bgDate {
        width: 14vw;
    }
}

@media screen and (max-width: 375px) {
    .strongP {
        font-size: 36px;
        width: 80%;
        text-align: center;
    }

    .descrP {

        font-size: 15px;

    }

    .bgDate p {
        font-size: 10px;
    }

    .bgDate {
        width: 17vw;
    }

    .evBtnCont {
        font-size: 15px;
    }
}